.page {
    display: flex;
    flex-direction: column;
}

.task-section {
    display:flex;
}

.board-section {
    display: flex;
}

.demo-logo {
    color: aliceblue;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}